.header {
    padding: 2em;
    background-image: url(../img/sublimationPrint.jpg);
    background-position: center;
background-size: cover;
position: relative;
height: 100vh;
}
.prot{
    
    padding: 10em;
    background-image: url(../img/prototipo-baja.png);
    background-size: cover;
    background-position: top;
}
img{
    margin-top: 20px;
}
h1{
    font-size: 3em;
}