body {
    background-color: rgb(235, 235, 235);
}
.space{
    margin-bottom: 0px;
    font-size: 2.5em;
}
.spaceButton{
    margin-bottom: 3.5rem;
}
.name{
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 4em;
}
.nameNav{
    width: 5em;
}
.nameNav:hover{
    text-shadow: #00000061 0.1em 0.1em 0.4em;
}
.isShady {
    animation: flyintoright .4s backwards;
    background: #fff;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
    border-radius: 4px;
    display: inline-block;
    margin: 10px;
    position: relative;
    transition: all .2s ease-in-out;
}

.isShady:hover {
    box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}

.navbar-light .navbar-brand {
    color: rgb(235, 235, 235);
    margin-left: 16px;
}

.bg-light {
    background-color: #02809000 !important;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-color: #02C39A;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: rgb(235, 235, 235);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(235, 235, 235);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(235, 235, 235);
}
.navbar-nav{
    background-color: #02809063;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-light .navbar-toggler {
    /* color: rgba(0,0,0,.5); */
    border-color: #02c39a;
}
.fa .fa-navicon {
    color:white;
  }


.header {
    padding: 2em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0)), url(../img/fondo-inicio02.png);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
}
.recuadro{
    background-color: #02C39A;
    width: 70px; 
}
.tittle02{
    margin-top: 4em;
    margin-bottom: 4em;
    text-align: center;
}

.text-muted {
    color: #02C39A !important;
}
a{
    color:#02C39A;
}
a:hover{
    color: rgb(235, 235, 235);
}

h1 {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 4.5em;
}

h2 h1 {
    text-align: center;

}
.tittle01{
    padding-top: 5em;
    padding-bottom: 10em;
    color: white;
    text-shadow: #00000061 0.1em 0.1em 0.4em;
    font-weight: bold; 
    padding-left: 0px;
    padding-right: 0px;
}
.subTittleCard{
    font-weight: 600;
    color: #028090;
}
.detallCard{
    font-weight: 40;
    font-size: 0.9em;
}

.dis{
    display: contents;
}
.imageMe{
    width: 200px;
    background-image: url(../img/perfil.png);
    background-position: center;
    background-size: cover;
}
.circle{
    background-image: url(../img/perfil.png);
    background-size: cover;
    border-radius: 50%;
    height: 12em;
    width: 12em;
    margin-top: 2em;
    margin-bottom: 2em;
}
section {
    padding-bottom: 11em;
}
.sectionTalk{
    padding-top: 8em;
}
.sectionColor{
    background-color: #02809012;
}
.sectionSpace{
    padding-top: 7em;
    padding-bottom: 10em;
}
.rowSpace{
    margin-bottom: 50px;
}
.list-group-item {
    background-color: #103847;
    color: white;
}
.pWOS{
    margin-bottom: 0px;
}
.dividor{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.13);
    height: 1px;
    margin-bottom: 2em;
}
.dividorT{
    height: 1px;
    margin-bottom: 4em;
}
.centrar{
    text-align: center;
    padding-bottom: 2em;
}
/*   ----------------------------------- FOOTER-----------------------------------------*/
footer {
    background-color: #103847;
    padding: 2em;
}

.far {
    font-size: 20px;
}
.fab{
    font-size: 20px;
}
.mail{
    color: #02C39A;
    font-size: 2em;
}
.footerText{
    color: white;
}

/*
----------------------------------------- estilos de proyecto preview ------------------------------
*/
.container-proyect{
    max-width: 1160px;
}
.proyects{
    justify-content: center;
    display: flex;
}
.proyect{
    
    height: 340px; 
    justify-content: center;
    transition: all 0.4s ease;
}
.proyect:hover{
    box-shadow: 0 10px 20px #c7cad1;
	transform: translate(0, -5px);
}
.img4edu{
    background-image: url(../img/4edu-Card.png);
    background-size: cover;
    background-position: center;
}
.pre-proyecto{
    flex-basis: 50%;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
}
.detalles-proyecto{
    background-color: white;
    padding: 40px;
    box-sizing: border-box;
}



/*
--------------------------------- Botones ---------------------------------------
*/
.colorB {
    --color: #028090;
    --hover: #02C39A;
  }
  .colorB {
    box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
    margin-right: 10px;
    margin-left: 10px;
  }
  .colorB:hover, .colorB:focus {
    box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
  }


  
.offset {
    box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
  }
  .offset:hover, .offset:focus {
    box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
  }
  .offset {
    --color: white;
    --hover: #02C39A;
  }
  button {
    color: var(--color);
    transition: 0.25s;
  }
  button:hover, button:focus {
    border-color: var(--hover);
    color: white;
  }
  button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    margin-left: 0px;
  }