/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/* Botones */
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.raise {
  --color: #ffffff;
  --hover: #02C39A;
}
.bCV{
  --color: #02C39A;
  --hover: #fff;
}

button {
  color: var(--color);
  transition: 0.25s;
}
button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 1em;
}

.button
{
  
  text-align: center;
  color: #02C39A;

  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  
  

  background: #02C39A;
  border: 1px solid #02C39A;
  color: #FFF;
  overflow: hidden;
  
  transition: all 0.5s;
}

.button:hover, .button:active 
{
  text-decoration: none;
  color: #02C39A;
  border-color: #02C39A;
  background: #FFF;
}

.button span 
{
  display: inline-block;
  position: relative;
  padding-right: 0;
  
  transition: padding-right 0.5s;
}

.button span:after {
  content: ' ';  
  position: absolute;

  right: -18px;
  opacity: 0;
  width: 10px;
  height: 10px;
  margin-top: -10px;

  background: rgba(0, 0, 0, 0);
  border: 3px solid #FFF;
  border-top: none;
  border-right: none;

  transition: opacity 0.5s, top 0.5s, right 0.5s;
  transform: rotate(-45deg);
}

.button:hover span, .button:active span {
  padding-right: 30px;
}

.button:hover span:after, .button:active span:after 
{
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #02C39A;
  right: 0;
  top: 50%;
}



.me {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.me .fab {
  font-size: 1.75rem;
  margin: 0 1rem;
  color: #fff;
  transition: 0.5s;
}
.far{
  font-size: 1.75rem;
  margin: 0 1rem;
  color: #fff;
  transition: 0.5s;
}
.far:hover{
  color: #02C39A;
}
.me .fab:hover {
  color: #02C39A;
}

.fas{
  font-size: 1.75rem;
  color: #02C39A;
}

.atras, .inicio, .sig{
  color: #333;
}



/*
 * Base structure
 */
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  background-color: #f2f3f5;
}
.ceci-header{

  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  padding: 2em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0)), url(../img/fondo-inicio02.png);
  background-position: center;
  background-size: cover;
  position: relative;   
  height: 100vh;
}
.ceci-container {
    max-width: 52em;
}


/*
 * Header
 */
 h1 {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 4.5em;
}
.centrar{
  text-align: center;
}

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  padding-top: 18px;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}
.hero{
    display: flex;
    height: 69vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.hero-inner{
    text-align: center;
    color: #fff;
}

.h-100 {
    height: auto !important;
}

/*
 * Ceci
 */
.ceci {
  padding: 0 1.5rem;
}
.ceci .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/*
* Projects
*
*/
.textProjectsImg{
  padding-bottom: 3em;
padding-top: 3em;
}
.textProjects{
  display: flex;
justify-content: center;
}

img{
  object-fit: cover;
}
.projects {
  background-color: #f2f3f5;
  padding: 80px;
}
@media screen and (max-width: 440px) {
  .projects {
    padding-top: 60px;
    padding-right: 0px;
    padding-bottom: 60px;
    padding-left: 0px;
 }
}
.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 6%;
}
.project-container {
  display: flex;
  flex-grow: 1;
  height: 340px;
  width: 100%;
  margin-bottom: 80px;
  
}

@media screen and (max-width: 900px) {
  .project-container {
    flex-direction: column;
    height: 100%;
 }
}
@media screen and (max-width: 440px) {
  .project-container {
    margin-bottom: 60px;
 }
}
.project-container .project-preview {
  flex-basis: 50%;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 900px) {
  .project-container .project-preview {
    height: 0;
 }
}
.project-container .project-preview img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 900px) {
  .project-container .project-preview img {
    top: 0;
    left: 0;
 }
}


.project-details {
  
  background-color: white;
  padding: 40px;
  box-sizing: border-box;
}
@media screen and (max-width: 440px) {
  .project-details {
    padding: 20px;
 }
}


.project-container .project-details {
  
  background-color: white;
  padding: 40px;
  padding: 69px;
  box-sizing: border-box;
}
.project-container {
  display: flex;
  flex-grow: 1;
  height: 340px;
  width: 100%;
  margin-bottom: 80px;
  transition: all 0.4s ease;
}

.project-container {
  height: 100%;
}
.project-container .project-preview {
  flex-basis: 50%;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}
.project-container .project-details .metadata {
  color: #7D7D80;
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 56px;
}
.project-container .project-details .title {
  font-size: 32px;
}

.project-container .project-details .title {
  color: #19191A;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 600;
}
.project-container .project-details .subtitle {
  color: #02C39A;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 24px;
}
.project-container .project-details .body {
  color: #646466;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  line-height: 21px;
}
.title02{
  margin-top: 4em;
  margin-bottom: 4em;
  text-align: center;
}
.body {
  color: #646466;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  line-height: 21px;
}
@media screen and (max-width: 440px) {
  .body {
    display: none;
 }
}
.body object {
  display: block;
  margin-top: 4px;
}
.body object img {
  width: 11px;
  height: 11px;
  margin-left: 4px;
}

.intro{
  padding-top: 3em;
  padding-bottom: 2em;
  background-color: #fff;
}


/*
*  About
*/

.circle{
  background-image: url(../img/perfil.png);
  background-size: cover;
  border-radius: 50%;
  height: 12em;
  width: 12em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.dis{
  display: contents;
}


/*
 * Contact
 */
.Contact{
  background-color: #02809012;
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}
.mail{
  color: #02C39A;
  font-size: 2em;
}
/*
 * Footer
 */

 .footerProj{
  text-align: center;
  padding: 2em;
  background-color: #0280901a;
  margin-top: 8em;
 }


 footer {
  background-color: #103847;
  padding: 80px;
}

.footerText{
  color: white;
  text-align: center;
}

